<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Traitement automatique des langues</title>
 
</head>

<body>
<style>
.bottom-buffer { margin-bottom:20px; }
img {width: 100%;}
video {width: 100%;}
</style>   
<div class="page-wrap">
	<div class="container">
		<h1>Multilingue News</h1>
			<div class="">
			<form    method="post" > 
				{% csrf_token %}

				<div class="form-group ">
					{{ form.language }}
				</div>
				<div class="form-group ">
					<div class="input-group">
						{{ form.query }}
						<div class="input-group-btn">
	                		<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	            		</div>
					</div>
				</div>
			</form>
			</div>
		
		{% if items_le_monde %} 
			<h3>Le Monde:</h3>
			{% for item in items_le_monde %}
			<div class="row bottom-buffer ">
				
		        <div class="col-md-2">
		            <div class="imgAbt">
		                <img src="{{ item.enclosure }}" />
		            </div>
		        </div>
		        <div class="col-md-10">
		        	<p><a href = "{{ item.guid }}" >{{ item.title }}</a></p>
		            <p>{{ item.description }}</p>
		        </div>
	    	</div>
	    	{% endfor %}
			
		{% endif %}
		
		{% if items_el_pais %} 
			<h3>El País:</h3>
			
			{% for item in items_el_pais %}
			<div class="row bottom-buffer ">
		        <div class="col-md-2">
		            <div>
		                <img src="{{ item.enclosure }}" />
		            </div>
		        </div>
		        <div class="col-md-10">
		        	<p><a href = "{{ item.guid }}" >{{ item.title }}</a></p>
		            <p>{{ item.description }}</p>
		        </div>
	    	</div>
			{% endfor %}
		{% endif %}
		{% if items_bbc %} 
			<h3>BBC World:</h3>
			{% for item in items_bbc %}
			<div class="row bottom-buffer ">
		        <div class="col-md-2">
		            <div class="imgAbt">
		                <img src="{{ item.thumbnail }}" />
		            </div>
		        </div>
		        <div class="col-md-10">
		        	<p><a href = "{{ item.guid }}" >{{ item.title }}</a></p>
		            <p>{{ item.description }}</p>
		        </div>
	    	</div>
			{% endfor %}
		{% endif %}

    </div>
</div>

                
</body>
</html>