<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Traitement automatique des langues</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body>
  


<h1>Multilingue_News result</h1>

  
                <div class="page_r">

<style type="text/css">
#recherche {
width:208px;
height:24px;
background:white;
box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
border-radius:2em;
}
   

   
#recherche input {
outline:0;
border:0;
margin:0;
height:24px;
float:left;
display:block;
}
   
#recherche input[type=text] {
font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
background:none;
width:180px;
padding:0 9px;
color:#667;
}
</style>
<!-- <form id="recherche" action="{% url 'recherche:query' %}" method="post" style="text-align:right;"> -->
<form id="recherche" action="http:127.0.0.1:8000/recherche/query" method="get" style="text-align:right;">	{% csrf_token %}
  
<input name="keyword" type="text" placeholder="Rechercher" required />
<input class="loupe" type="submit" value="" />
  
</form>
                </div>
                <div class="killer"><img src="../images/blank.gif" alt="" width="1" height="1" /></div>
</body>
</html>